{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

<h1>Добро пожаловать на MyDjango — ваш новый помощник в мире веб-разработки!</h1>

<h3>MyDjango — это мощный и гибкий инструмент для создания современных веб-приложений. С его помощью вы сможете быстро и
    эффективно разрабатывать сайты любой сложности.</h3>

<p>**Возможности MyDjango:**
1. Простая и интуитивно понятная настройка.
2. Высокая скорость разработки благодаря встроенным инструментам.
3. Модульная архитектура, позволяющая легко расширять функциональность.
4. Поддержка множества баз данных, включая PostgreSQL, MySQL и SQLite.
    5. Богатый набор встроенных приложений, таких как аутентификация и администрирование.</p>

<p>Наш проект активно развивается, и мы постоянно работаем над его улучшением. Мы верим, что MyDjango станет незаменимым инструментом для всех, кто стремится создавать качественные и надежные веб-приложения.

Начните свое путешествие с MyDjango уже сегодня и присоединяйтесь к сообществу разработчиков по всему миру. Вместе мы создадим будущее веб-разработки!

    Спасибо, что выбрали MyDjango!</p>

{% endblock %}