{% extends 'main/layoute.html' %}

{% block title %}
    <title>Bootstrаp</title>
{% endblock %}

{% block content %}
<h2>Bootstrap — это популярный фреймворк для разработки интерфейсов веб-приложений и сайтов.</h2>
<p>
Он предоставляет набор готовых HTML, CSS и JavaScript компонентов, которые упрощают создание адаптивных и стильных
веб-сайтов. Основное преимущество Bootstrap — это возможность быстро разрабатывать интерфейсы благодаря использованию
готовых решений и компонентов.
</p>
<p>
Одной из ключевых особенностей Bootstrap является его сеточная система, которая позволяет легко создавать адаптивные
макеты, подстраивающиеся под различные размеры экранов. Это особенно полезно в эпоху мобильных устройств, когда важно,
чтобы сайт корректно отображался на смартфонах и планшетах.
</p>
<p>
Bootstrap также предлагает множество готовых компонентов, таких как кнопки, навигационные панели, модальные окна и
карусели. Эти элементы стилизованы и оптимизированы для использования, что значительно ускоряет процесс разработки.
</p>
<p>
Благодаря широкой поддержке со стороны сообщества, Bootstrap постоянно обновляется и улучшает свои возможности.
Это делает его надежным выбором для разработчиков, которые хотят создавать современные и функциональные веб-приложения.
</p>
<p>
Bootstrap легко интегрируется с другими библиотеками и фреймворками, что делает его универсальным инструментом в
арсенале веб-разработчика. Он подходит как для небольших проектов, так и для создания крупных корпоративных сайтов.
</p>
{% endblock %}