{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}

<h1>Добро пожаловать на сайт проекта WebWithFlask!</h1>

<h3>Этот проект создан для всех, кто хочет изучить и освоить веб-разработку с использованием фреймворка Flask.</h3>
<p>
Flask — это легковесный, но мощный инструмент для создания веб-приложений на языке Python.
Он идеально подходит как для новичков, так и для опытных разработчиков, которые стремятся к простоте и гибкости.
</p>
<p>
Flask поддерживает расширения, которые позволяют добавлять в проект дополнительную функциональность, такую как
интеграция с базами данных, обработка форм и аутентификация пользователей. Это делает его мощным инструментом для
создания более сложных и функциональных веб-приложений.
</p>
<p>
Еще одной важной возможностью Flask является поддержка шаблонов через Jinja2, что упрощает создание динамических
HTML-страниц. Также Flask поддерживает маршрутизацию, позволяя легко управлять URL-адресами и обрабатывать различные
запросы от пользователей.
</p>
<p>
Flask хорошо интегрируется с другими библиотеками и инструментами Python, что позволяет расширять его возможности и
использовать в различных проектах. Благодаря своей простоте и расширяемости, Flask стал популярным выбором для создания
RESTful API, микросервисов и даже крупных веб-приложений.
</p>
<p>
Присоединяйтесь к WebWithFlask и начните создавать удивительные веб-приложения уже сегодня.
Ваша карьера в веб-разработке начинается здесь!
</p>
{% endblock %}