{% extends 'main/layoute.html' %}

{% block title %}
    <title>HTML</title>
{% endblock %}

{% block content %}

<h2>HTML (HyperText Markup Language) — это стандартный язык разметки для создания веб-страниц и веб-приложений.</h2>
<p>
Основная задача HTML заключается в структурировании содержимого веб-страницы, что делает его фундаментальным
строительным блоком интернета. HTML использует теговую систему, где каждый элемент страницы заключен в специальные теги,
которые определяют его роль и форматирование.
</p>
<p>
Одной из ключевых особенностей HTML является его простота и читаемость. Даже начинающие разработчики могут быстро
освоить основы HTML и начать создавать простые веб-страницы. Теги, такие как 'h1' для заголовков, 'p' для абзацев и 'a'
для ссылок, интуитивно понятны и легко запоминаются.
</p>
<p>
HTML также поддерживает вложенность элементов, что позволяет создавать сложные иерархические структуры. Это особенно
полезно для организации контента на странице, например, для создания списков, таблиц и форм.
</p>
<p>
Одним из важных аспектов HTML является его способность взаимодействовать с другими технологиями.
Например, с помощью CSS (Cascading Style Sheets) можно изменять внешний вид элементов HTML, добавляя стили и оформляя
страницу по своему усмотрению.
</p>
{% endblock %}