{% extends 'main/layoute.html' %}

{% block title %}
    <title>CSS</title>
{% endblock %}

{% block content %}

<h2>CSS (Cascading Style Sheets) — это язык стилей, используемый для описания внешнего вида и форматирования
веб-страниц, написанных с использованием HTML.</h2>
<p>
Благодаря CSS веб-страницы становятся более привлекательными и удобными для пользователей. Одной из основных
возможностей CSS является управление цветами, шрифтами, отступами и размерами элементов. С его помощью можно задавать
фоновые изображения, настраивать прозрачность и создавать сложные визуальные эффекты, такие как тени и градиенты.
Это позволяет дизайнерам реализовывать свои идеи и придавать уникальный стиль веб-страницам.
</p>
<p>
CSS поддерживает концепцию каскадности, что означает, что стили могут наследоваться и переопределяться в зависимости от
их специфичности и порядка подключения. Это дает гибкость в разработке и позволяет создавать сложные стили, которые
применяются к нескольким элементам одновременно.
</p>
<p>
С помощью медиазапросов CSS позволяет создавать адаптивные дизайны, которые корректно отображаются на устройствах с
разными размерами экранов. Это особенно важно в современном мире, где пользователи посещают сайты с мобильных устройств,
планшетов и компьютеров.
</p>
<p>
Также CSS позволяет использовать анимации и переходы, добавляя интерактивность и оживляя элементы страницы. Это делает
взаимодействие с веб-страницей более динамичным и привлекательным для пользователей.
</p>
{% endblock %}